.ant-picker {
  width: 282px !important;
  position: relative;
}

.ant-picker-input input {
  width: inherit !important;
}

.ant-picker-dropdown-range {
  left: 434px !important;
  top: 0px;
  margin-left: -8px !important;
}

.ant-picker-range-arrow {
  left: 265px !important;
}

.ant-picker-active-bar {
  display: none !important;
}

input[date-range="start"]::placeholder {
  content: "Hello";
}
