@use "../../scss/veriables.scss" as vars;

%flex {
  display: flex;
  align-items: start;
  justify-content: center;
}
.search__section-wrapper {
  background-color: vars.$search-section-main-background;
  padding: 20px;
  color: vars.$day-name-color;
  @extend %flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  max-width: 100%;
}
.search__section-radio {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 15px;
  padding: 20px 0px 0px 0px;
}

label {
  cursor: pointer;
  position: relative;

  input {
    position: absolute;
    left: -9999px;
    &:checked + span {
      color: vars.$radio-blue-color;
      &:before {
        box-shadow: inset 0 0 0 4px vars.$radio-blue-color;
      }
    }
  }

  span {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 99em;
    transition: 0.25s ease;

    &:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: #fff;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin-right: 4px;
      transition: 0.25s ease;
    }
  }
}

.main__inputs-box {
  width: 100%;
  display: grid;
  grid-template-columns: [first] 40% [col4-start] 28% [five] 16% [five] 16% [end];
  gap: 0px;
}

.hotel__inputs-wrapper {
  grid-template-columns: [first] 25% [col4-start] 34% [four] 16% [five] 25% [end];
}

.end__input {
  width: 100%;
}

.hotel__input {
  width: 100%;
}
.dropdown-pessager {
  height: 100%;
}

.date__picker-wrapper {
  width: 100% !important;
}

.search-button {
  width: 100%;
  background-color: vars.$blue-border-color;
  border-radius: 4px;
  border-style: none;
  color: vars.$white-background-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  padding: 10px;
  font-weight: 500;
}

.search-button:hover {
  opacity: 0.7;
}

.search-button:active {
  transition-duration: 0.35s;
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  opacity: 1;
}

.hotel__button {
  display: flex;
  gap: 5px;
}
