@use "../../../scss/styles.scss" as *;
@use "../../../scss/veriables.scss" as vars;

.routes__section {
  .routes__main-box {
    padding: 20px;
    background-color: vars.$search-section-main-background;
    border-radius: 30px;
    padding-bottom: 40px;
  }

  .routes__main-box > div:last-child {
    margin-top: 30px;
  }

  .radio__main-box {
    display: flex;
    gap: 30px;
    margin: 30px 0px 30px 0px;

    label {
      cursor: pointer;
      position: relative;
      overflow: hidden;

      input {
        position: absolute;
        left: -9999px;

        &:checked + span {
          color: vars.$radio-blue-color;

          &:before {
            box-shadow: inset 0 0 0 4.8px vars.$radio-blue-color;
          }
        }
      }

      span {
        display: flex;
        align-items: center;
        transition: 0.25s all ease;

        &:before {
          content: "";
          width: 14px;
          height: 14px;
          border-radius: 50%;
          margin-right: 8px;
          transition: 0.25s ease;
          box-shadow: inset 0 0 0 10px vars.$white-background-color;
        }
      }
    }
  }

  .inputs__main-box {
    width: 100%;
    display: grid;
    grid-template-columns: [first] 19% [line2] 19% [line3] 24% [col4-start] 19% [five] 19% [end];
    align-items: center;
    justify-content: center;
  }

  .ant-input {
    padding: 10px 10px;

    &:hover {
      border-color: vars.$input-border-hover-btn;
    }
  }

  .inputs__main-box > div:first-child {
    position: relative;
  }

  .inputs__main-box > div:first-child div,
  .inputs__main-box > div:nth-child(2) {
    position: relative;
  }

  .departure-icon,
  .arrival-icon {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 15px;
    color: vars.$blue-border-color;
  }

  .routes__icon {
    position: absolute;
    z-index: 1;
    right: -12px;
    top: 10px;
  }
}
