@use "../../../../../scss/veriables.scss" as vars;

.ant-picker-panel-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-left: -2px !important;
}

.ant-picker-header-prev-btn,
.ant-picker-header-next-btn {
  border: 0.5px solid vars.$blue-border-color !important;
  border-radius: 50%;
  padding: 10px 8px 10px 10px !important;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;

  &:hover {
    span {
      color: vars.$blue-border-color;
    }
  }
}
.ant-picker-header-next-btn {
  padding: 10px 10px 10px 8px !important;
}

.ant-picker-header-prev-btn span,
.ant-picker-header-next-btn span {
  color: vars.$date-color;
}

.ant-picker-header {
  display: flex;
  align-items: center;
  height: 50px;
}

.ant-picker-header-super-prev-btn,
.ant-picker-header-super-next-btn {
  display: none;
}

th {
  border-bottom: 0.2px solid vars.$date-color;

  &:hover {
    pointer-events: none;
  }
}

:where(.css-dev-only-do-not-override-djtmh8).ant-picker-dropdown
  .ant-picker-cell
  .ant-picker-cell-inner {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  transition: background 0.2s;

  &:hover {
    color: vars.$blue-border-color;

    background-color: transparent;
    background: vars.$black-text-color;
  }

  &:focus {
    background-color: vars.$blue-border-color;
    color: #fff;
  }

  &::before {
    border: 1px solid transparent;
    color: vars.$day-name-color;

    &:hover {
      background-color: vars.$black-text-color;
      background: vars.$black-text-color;
    }
  }
}

:where(.css-dev-only-do-not-override-djtmh8).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid transparent;
  border-radius: 50%;
}

.ant-picker-ranges {
  display: none !important;
}

.ant-picker .ant-picker-input input {
  width: 258px;
  padding: 6px 20px 6px 25px;
  font-weight: 500;

  &::placeholder {
    color: vars.$date-color;
  }
}

.ant-picker-suffix {
  position: absolute;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-picker .ant-picker-suffix {
  transform: none;
  opacity: 1;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-picker:hover
  .ant-picker-suffix:not(:last-child) {
  opacity: 1;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-picker-outlined:hover {
  border-color: vars.$date-color;
  background-color: vars.$white-background-color;
}
