@use "../../../scss/veriables.scss" as vars;
.avia__inputs {
  display: flex;
  align-items: center;
  justify-self: center;
}

.avia__inputs-wrapper {
  position: relative;
  width: 100%;
}

.avia__input {
  width:100%;
  padding: 10px 60px 10px 15px;
  background-color: vars.$white-background-color;
  border-radius: 4px;
  border: 1.5px solid vars.$date-color;
  outline: none;
  transition: all 0.3s ease-in-out;

  &:focus {
    border-color: vars.$radio-blue-color;
  }

  &:hover {
    border-color: vars.$day-name-color;
  }

  &::placeholder {
    color: vars.$date-color;
    opacity: 0.7;
    font-size: 12px;
  }
}
.input__plane {
  color: vars.$radio-blue-color;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 12px;
}

.directions__image {
  width: 25px;
  height: 24px;
  position: absolute;
  z-index: 1;
  right: -12px;
  top: 7px;
}

.recommend__wrapper {
  position: relative;
  list-style: none;
}
.recommend__start-list {
  position: absolute;
  width: 240px;
  background-color: white;
  box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.75);
  z-index: 1;
  top: 50px;
  left: 0;
  padding: 10px 0px;
  border-radius: 5px;
}
.recommend__list {
  position: absolute;
  width: 230px;
  background-color: white;
  box-shadow: 0px 10px 24px -10px rgba(0, 0, 0, 0.75);
  top: 12px;
  left: 0px;
  padding: 10px 0px;
  border-radius: 5px;
  z-index: 1;
}

.recommend__list li,
.recommend__start-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  cursor: pointer;

  &:hover {
    background-color: rgba(52, 46, 46, 0.078);
  }
}

.recommended__list-hotel {
  width: 260px;
}

.hotel__recommend-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.hotel__country {
  font-size: 16px;
  text-transform: capitalize !important;
}

.hotel__title {
  font-size: 12px;
}

.location__dot {
  color: vars.$radio-blue-color;
  font-size: 22px;
}

.tours__recommendation {
  display: flex;
  gap: 15px;
}
