.sec-center {
  position: relative;
  text-align: center;
  z-index: 200;
  background-color: #ffffff;
  padding: 8px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1.5px solid #a8abb2;
  margin-right: 4px;
  width: 100%;
}
.sec-center:hover {
  border-color: #606266;
}

.arrow-down {
  color: #606266;
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  z-index: -1;
  cursor: pointer;
  pointer-events: none;
}

.dropdown:checked + label:before {
  pointer-events: auto;
  cursor: pointer;
}

.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #ffffff;
  top: 50px;
  right: -45px;
  width: 272px;
  padding: 20px;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  cursor: pointer;
  transition: all 200ms linear;
  display: none;
}

.dropdown-pessager {
  width: 100%;
}

.dropdown:checked ~ .section-dropdown {
  opacity: 1;
  display: block;
  pointer-events: auto;
  transform: translateY(0);
  cursor: pointer;
}

.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
  z-index: 1;
  cursor: pointer;
}

.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 127px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  content: "";
  display: block;
  z-index: 2;
  transition: all 200ms linear;
  cursor: pointer;
}

.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #ffffff;
}

.for-dropdown {
  cursor: pointer;
}

.passenger-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.passenger-category .passenger-category-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.passenger-category span {
  font-weight: 600;
  text-transform: capitalize;
}
.passenger-category .counter {
  display: flex;
  align-items: center;
  border: 1px solid #f5f7fa;
  width: 90px;
  border-radius: 4px;
}
.passenger-category .counter button {
  width: 30%;
  padding: 7px 7px;
  background-color: #f5f7fa;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.passenger-category .counter button:hover {
  color: #3392ff;
}
.passenger-category .counter button.disabled {
  cursor: not-allowed;
}
.passenger-category .counter button.disabled:hover {
  color: #a6a6a6;
}
.passenger-category .counter span {
  margin: 0 10px;
  width: 40%;
}
.passenger-category .counter:hover {
  border-color: #3392ff;
}
.passenger-category .age-range {
  font-size: 0.8em;
  color: #999;
}

.tour__selects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}/*# sourceMappingURL=AviaPassangers.css.map */