$radio-blue-color: #409eff;
$blue-border-color: #3392ff;
$date-color: #a8abb2;
$white-background-color: #ffffff;
$black-text-color: #000000;
$day-name-color: #606266;
$input-border-hover-btn: #a6a6a6;
$search-section-main-background: #cce4ff;
$counter-button-color: #f5f7fa;
$age-range-color: #999;
$navbar-color: #212529;
$navbar-border-color: #ddd;
